<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quack-a-mole</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Monofett" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <style>

        .overlayer {
            padding: 10px;
            background-color: rgba(2,119,189,0.8);
            border-radius: 3px;
        }


        .infolayer {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            width: 90%;
            margin-top: 10px;
            padding: 10px;
            background-color: rgba(2,119,189,0.8);
            border-radius: 3px;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #F9FFBC;
        }
    </style>
</head>
<body style="background-image: url('@Url.Content("~/Content/images/grass.jpg")'); ">

    @RenderBody()




    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
